* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1 {
    font-size: 64px;
    text-align: center;
    line-height: 96px;
    font-weight: 800;
    @media only screen and (max-width: 1800px) {
        font-size: 56px;
        line-height: 72px;
    }
    @media only screen and (max-width: 960px) {
        font-size: 32px;
        line-height: 48px;
    }
}

// h2 {
//     font-size: 48px;
//     font-weight: 600;
//     opacity: .6;
//     @media only screen and (max-width: 1800px) {
//         font-size: 40px;
//     }
//     @media only screen and (max-width: 960px) {
//         font-size: 24px;
//     }
// }

.heading-description {
    font-size: 48px;
    font-weight: 600;
    opacity: .6;
    line-height: 56px;
    @media only screen and (max-width: 1800px) {
        font-size: 40px;
    }
    @media only screen and (max-width: 960px) {
        font-size: 24px;
        line-height: 40px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 800;
    @media only screen and (max-width: 1800px) {
        font-size: 38px;
    }
    @media only screen and (max-width: 960px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    @media only screen and (max-width: 960px) {
        font-size: 20px;
    }
}

.creed-headline {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        @media only screen and (max-width: 960px) {
            font-size: 20px;
        }
}

.review-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    font-weight: 800;
    margin-bottom: 8px;
    @media only screen and (max-width: 960px) {
        font-size: 20px;
    }
}

h5 {
    font-size: 20px;
    font-weight: 600;
    @media only screen and (max-width: 1440px) {
        font-size: 16px;
    }
}

p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: .4px;
    
    @media only screen and (max-width: 1440px) {
        font-size: 16px;
        line-height: 24px;
    }
    @media only screen and (max-width: 450px) {
        small {
            font-size: 10px;
            line-height: 8px !important;
        }
    }
}

.small {
    font-size: 14px;
    line-height: 24px !important;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    @media only screen and (max-width: 1440px) {
        font-size: 16px;
    }
}

